/*
 *  Tab.css Brandon Holtsclaw
 */

/* Layout helpers
----------------------------------*/
#comment-tabs .ui-helper-hidden { display: none; }
#comment-tabs .ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }
#comment-tabs .ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
#comment-tabs .ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
#comment-tabs .ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
#comment-tabs .ui-helper-clearfix { display:block; }
/* end clearfix */
#comment-tabs .ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }


/* Interaction Cues
----------------------------------*/
#comment-tabs .ui-state-disabled { cursor: default !important; }


/* Icons
----------------------------------*/

/* states and images */
#comment-tabs .ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }


/* Misc visuals
----------------------------------*/

/* Overlays */
#comment-tabs .ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }


/* Component containers
----------------------------------*/
#comment-tabs .ui-widget { font-family: Helvetica, Arial, sans-serif; font-size: 1.1em; }
#comment-tabs .ui-widget .ui-widget { font-size: 1em; }
#comment-tabs .ui-widget input,#comment-tabs .ui-widget select,#comment-tabs .ui-widget textarea,#comment-tabs .ui-widget button { font-family: Helvetica, Arial, sans-serif; font-size: 1em; }
#comment-tabs .ui-widget-content { border: 1px solid #dddddd; background: #ffffff; color: #444444; }
#comment-tabs .ui-widget-content a { color: #444444; }
#comment-tabs .ui-widget-header { border: 1px solid #dddddd; background: #dddddd; color: #444444; font-weight: bold; }
#comment-tabs .ui-widget-header a { color: #444444; }

/* Interaction Cues
----------------------------------*/
#comment-tabs .ui-state-highlight,#comment-tabs .ui-widget-content .ui-state-highlight,#comment-tabs .ui-widget-header .ui-state-highlight  {border: 1px solid #cccccc; background: #ffffff; color: #444444; }
#comment-tabs .ui-state-highlight a,#comment-tabs .ui-widget-content .ui-state-highlight a,#comment-tabs .ui-widget-header .ui-state-highlight a { color: #444444; }
#comment-tabs .ui-state-error,#comment-tabs .ui-widget-content .ui-state-error,#comment-tabs .ui-widget-header .ui-state-error {border: 1px solid #ff0084; background: #ffffff; color: #222222; }
#comment-tabs .ui-state-error a,#comment-tabs .ui-widget-content .ui-state-error a,#comment-tabs .ui-widget-header .ui-state-error a { color: #222222; }
#comment-tabs .ui-state-error-text,#comment-tabs .ui-widget-content .ui-state-error-text,#comment-tabs .ui-widget-header .ui-state-error-text { color: #222222; }
#comment-tabs .ui-priority-primary,#comment-tabs .ui-widget-content .ui-priority-primary,#comment-tabs .ui-widget-header .ui-priority-primary { font-weight: normal; }
#comment-tabs .ui-priority-secondary,#comment-tabs .ui-widget-content .ui-priority-secondary,#comment-tabs .ui-widget-header .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }
#comment-tabs .ui-state-disabled,#comment-tabs .ui-widget-content .ui-state-disabled,#comment-tabs .ui-widget-header .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }

/* Corner radius */
#comment-tabs .ui-corner-all,#comment-tabs .ui-corner-top,#comment-tabs .ui-corner-left,#comment-tabs .ui-corner-tl { -moz-border-radius-topleft: 0; -webkit-border-top-left-radius: 0; -khtml-border-top-left-radius: 0; border-top-left-radius: 0; }
#comment-tabs .ui-corner-all,#comment-tabs .ui-corner-top,#comment-tabs .ui-corner-right,#comment-tabs .ui-corner-tr { -moz-border-radius-topright: 0; -webkit-border-top-right-radius: 0; -khtml-border-top-right-radius: 0; border-top-right-radius: 0; }
#comment-tabs .ui-corner-all,#comment-tabs .ui-corner-bottom,#comment-tabs .ui-corner-left,#comment-tabs .ui-corner-bl { -moz-border-radius-bottomleft: 0; -webkit-border-bottom-left-radius: 0; -khtml-border-bottom-left-radius: 0; border-bottom-left-radius: 0; }
#comment-tabs .ui-corner-all,#comment-tabs .ui-corner-bottom,#comment-tabs .ui-corner-right,#comment-tabs .ui-corner-br { -moz-border-radius-bottomright: 0; -webkit-border-bottom-right-radius: 0; -khtml-border-bottom-right-radius: 0; border-bottom-right-radius: 0; }

/* Overlays */
#comment-tabs .ui-widget-overlay { background: #eeeeee; opacity: .80;filter:Alpha(Opacity=80); }
#comment-tabs .ui-widget-shadow { margin: -4px 0 0 -4px; padding: 4px; background: #aaaaaa; opacity: .60;filter:Alpha(Opacity=60); -moz-border-radius: 0px; -khtml-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; }

/*
 * jQuery UI Autocomplete 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Autocomplete#theming
 */
#comment-tabs .ui-autocomplete { position: absolute; cursor: default; }

/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

/*
 * jQuery UI Menu 1.8.16
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Menu#theming
 */
#comment-tabs .ui-menu {
  list-style:none;
  padding: 2px;
  margin: 0;
  display:block;
  float: left;
}
#comment-tabs .ui-menu .ui-menu {
  margin-top: -3px;
}
#comment-tabs .ui-menu .ui-menu-item {
  margin:0;
  padding: 0;
  zoom: 1;
  float: left;
  clear: left;
  width: 100%;
}
#comment-tabs .ui-menu .ui-menu-item a {
  text-decoration:none;
  display:block;
  padding:.2em .4em;
  line-height:1.5;
  zoom:1;
}
#comment-tabs .ui-menu .ui-menu-item a#comment-tabs .ui-state-hover,
#comment-tabs .ui-menu .ui-menu-item a#comment-tabs .ui-state-active {
  font-weight: normal;
  margin: -1px;
}
/*
 * jQuery UI Button 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Button#theming
 */
#comment-tabs .ui-button { display: inline-block; position: relative; padding: 0; margin-right: .1em; text-decoration: none !important; cursor: pointer; text-align: center; zoom: 1; overflow: visible; } /* the overflow property removes extra width in IE */
#comment-tabs .ui-button-icon-only { width: 2.2em; } /* to make room for the icon, a width needs to be set here */
button#comment-tabs .ui-button-icon-only { width: 2.4em; } /* button elements seem to need a little more width */
#comment-tabs .ui-button-icons-only { width: 3.4em; }
button#comment-tabs .ui-button-icons-only { width: 3.7em; }

/*button text element */
#comment-tabs .ui-button .ui-button-text { display: block; line-height: 1.4;  }
#comment-tabs .ui-button-text-only .ui-button-text { padding: .4em 1em; }
#comment-tabs .ui-button-icon-only .ui-button-text,#comment-tabs .ui-button-icons-only .ui-button-text { padding: .4em; text-indent: -9999999px; }
#comment-tabs .ui-button-text-icon-primary .ui-button-text,#comment-tabs .ui-button-text-icons .ui-button-text { padding: .4em 1em .4em 2.1em; }
#comment-tabs .ui-button-text-icon-secondary .ui-button-text,#comment-tabs .ui-button-text-icons .ui-button-text { padding: .4em 2.1em .4em 1em; }
#comment-tabs .ui-button-text-icons .ui-button-text { padding-left: 2.1em; padding-right: 2.1em; }
/* no icon support for input elements, provide padding by default */
input#comment-tabs .ui-button { padding: .4em 1em; }

/*button icon element(s) */
/*#comment-tabs .ui-button-icon-only .ui-icon,#comment-tabs .ui-button-text-icon-primary .ui-icon,#comment-tabs .ui-button-text-icon-secondary .ui-icon,#comment-tabs .ui-button-text-icons .ui-icon,#comment-tabs .ui-button-icons-only .ui-icon { position: absolute; top: 50%; margin-top: -8px; }
#comment-tabs .ui-button-icon-only .ui-icon { left: 50%; margin-left: -8px; }
#comment-tabs .ui-button-text-icon-primary .ui-button-icon-primary,#comment-tabs .ui-button-text-icons .ui-button-icon-primary,#comment-tabs .ui-button-icons-only .ui-button-icon-primary { left: .5em; }
#comment-tabs .ui-button-text-icon-secondary .ui-button-icon-secondary,#comment-tabs .ui-button-text-icons .ui-button-icon-secondary,#comment-tabs .ui-button-icons-only .ui-button-icon-secondary { right: .5em; }
#comment-tabs .ui-button-text-icons .ui-button-icon-secondary,#comment-tabs .ui-button-icons-only .ui-button-icon-secondary { right: .5em; }
*/

 /*button icon element(s) */
#comment-tabs .ui-button-icon-only .ui-icon,#comment-tabs .ui-button-text-icon-primary .ui-icon,#comment-tabs .ui-button-text-icon-secondary .ui-icon,#comment-tabs .ui-button-text-icons .ui-icon,#comment-tabs .ui-button-icons-only .ui-icon { position: absolute; top: 50%; margin-top: -12px; }
#comment-tabs .ui-button-icon-only .ui-icon { left: 50%; margin-left: -12px; }
#comment-tabs .ui-button-text-icon-primary .ui-button-icon-primary,#comment-tabs .ui-button-text-icons .ui-button-icon-primary,#comment-tabs .ui-button-icons-only .ui-button-icon-primary { left: .35em; }
#comment-tabs .ui-button-text-icon-secondary .ui-button-icon-secondary,#comment-tabs .ui-button-text-icons .ui-button-icon-secondary,#comment-tabs .ui-button-icons-only .ui-button-icon-secondary { right: .35em; }
#comment-tabs .ui-button-text-icons .ui-button-icon-secondary,#comment-tabs .ui-button-icons-only .ui-button-icon-secondary { right: .35em; }














/*button sets*/
#comment-tabs .ui-buttonset { margin-right: 7px; }
#comment-tabs .ui-buttonset .ui-button { margin-left: 0; margin-right: -.3em; }

/* workarounds */
button#comment-tabs .ui-button::-moz-focus-inner { border: 0; padding: 0; } /* reset extra padding in Firefox */

#comment-tabs .ui-dialog { position: absolute; padding: .2em; width: 300px; overflow: hidden; }
#comment-tabs .ui-dialog .ui-dialog-titlebar { padding: .4em 1em; position: relative;  }
#comment-tabs .ui-dialog .ui-dialog-title { float: left; margin: .1em 16px .1em 0; }
#comment-tabs .ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
#comment-tabs .ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
#comment-tabs .ui-dialog .ui-dialog-titlebar-close:hover,#comment-tabs .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
#comment-tabs .ui-dialog .ui-dialog-content { position: relative; border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1; }
#comment-tabs .ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
#comment-tabs .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { float: right; }
#comment-tabs .ui-dialog .ui-dialog-buttonpane button { margin: .5em .4em .5em 0; cursor: pointer; }
#comment-tabs .ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 2px; bottom: 2px; }
#comment-tabs .ui-draggable .ui-dialog-titlebar { cursor: move; }
#comment-tabs .ui-slider { position: relative; text-align: left; }
#comment-tabs .ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
#comment-tabs .ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

#comment-tabs .ui-slider-horizontal { height: .8em; }
#comment-tabs .ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
#comment-tabs .ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
#comment-tabs .ui-slider-horizontal .ui-slider-range-min { left: 0; }
#comment-tabs .ui-slider-horizontal .ui-slider-range-max { right: 0; }

#comment-tabs .ui-slider-vertical { width: .8em; height: 100px; }
#comment-tabs .ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
#comment-tabs .ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
#comment-tabs .ui-slider-vertical .ui-slider-range-min { bottom: 0; }
#comment-tabs .ui-slider-vertical .ui-slider-range-max { top: 0; }/*

#comment-tabs .ui-tabs { position: relative; padding: .2em; zoom: 1; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
#comment-tabs .ui-tabs .ui-tabs-nav { margin: 0; padding: .2em .2em 0; }
#comment-tabs .ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 1px; margin: 0 .2em 1px 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; }
#comment-tabs .ui-tabs .ui-tabs-nav li a { float: left; padding: .5em 1em; text-decoration: none; }
#comment-tabs .ui-tabs .ui-tabs-nav li#comment-tabs .ui-tabs-selected { margin-bottom: 0; padding-bottom: 1px; }
#comment-tabs .ui-tabs .ui-tabs-nav li#comment-tabs .ui-tabs-selected a,#comment-tabs .ui-tabs .ui-tabs-nav li#comment-tabs .ui-state-disabled a,#comment-tabs .ui-tabs .ui-tabs-nav li#comment-tabs .ui-state-processing a { cursor: text; }
#comment-tabs .ui-tabs .ui-tabs-nav li a,#comment-tabs .ui-tabs#comment-tabs .ui-tabs-collapsible .ui-tabs-nav li#comment-tabs .ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
#comment-tabs .ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding: 1em 1.4em; background: none; }
#comment-tabs .ui-tabs .ui-tabs-hide { display: none !important; }

#comment-tabs .ui-datepicker { width: 17em; padding: .2em .2em 0; display: none; }
#comment-tabs .ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; }
#comment-tabs .ui-datepicker .ui-datepicker-prev,#comment-tabs .ui-datepicker .ui-datepicker-next { position:absolute; top: 2px; width: 1.8em; height: 1.8em; }
#comment-tabs .ui-datepicker .ui-datepicker-prev-hover,#comment-tabs .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
#comment-tabs .ui-datepicker .ui-datepicker-prev { left:2px; }
#comment-tabs .ui-datepicker .ui-datepicker-next { right:2px; }
#comment-tabs .ui-datepicker .ui-datepicker-prev-hover { left:1px; }
#comment-tabs .ui-datepicker .ui-datepicker-next-hover { right:1px; }
#comment-tabs .ui-datepicker .ui-datepicker-prev span,#comment-tabs .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;  }
#comment-tabs .ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
#comment-tabs .ui-datepicker .ui-datepicker-title select { font-size:1em; margin:1px 0; }
#comment-tabs .ui-datepicker select#comment-tabs .ui-datepicker-month-year {width: 100%;}
#comment-tabs .ui-datepicker select#comment-tabs .ui-datepicker-month,
#comment-tabs .ui-datepicker select#comment-tabs .ui-datepicker-year { width: 49%;}
#comment-tabs .ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; }
#comment-tabs .ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: normal; border: 0;  }
#comment-tabs .ui-datepicker td { border: 0; padding: 1px; }
#comment-tabs .ui-datepicker td span,#comment-tabs .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; }
#comment-tabs .ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
#comment-tabs .ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
#comment-tabs .ui-datepicker .ui-datepicker-buttonpane button#comment-tabs .ui-datepicker-current { float:left; }

/* with multiple calendars */
#comment-tabs .ui-datepicker#comment-tabs .ui-datepicker-multi { width:auto; }
#comment-tabs .ui-datepicker-multi .ui-datepicker-group { float:left; }
#comment-tabs .ui-datepicker-multi .ui-datepicker-group table { width:95%; margin:0 auto .4em; }
#comment-tabs .ui-datepicker-multi-2 .ui-datepicker-group { width:50%; }
#comment-tabs .ui-datepicker-multi-3 .ui-datepicker-group { width:33.3%; }
#comment-tabs .ui-datepicker-multi-4 .ui-datepicker-group { width:25%; }
#comment-tabs .ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width:0; }
#comment-tabs .ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width:0; }
#comment-tabs .ui-datepicker-multi .ui-datepicker-buttonpane { clear:left; }
#comment-tabs .ui-datepicker-row-break { clear:both; width:100%; font-size:0em; }

/* RTL support */
#comment-tabs .ui-datepicker-rtl { direction: rtl; }
#comment-tabs .ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; }
#comment-tabs .ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; }
#comment-tabs .ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; }
#comment-tabs .ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; }
#comment-tabs .ui-datepicker-rtl .ui-datepicker-buttonpane { clear:right; }
#comment-tabs .ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }
#comment-tabs .ui-datepicker-rtl .ui-datepicker-buttonpane button#comment-tabs .ui-datepicker-current { float:right; }
#comment-tabs .ui-datepicker-rtl .ui-datepicker-group { float:right; }
#comment-tabs .ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header { border-right-width:0; border-left-width:1px; }
#comment-tabs .ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width:0; border-left-width:1px; }

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
#comment-tabs .ui-datepicker-cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}/*
 * jQuery UI Progressbar 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Progressbar#theming
 */
#comment-tabs .ui-progressbar { height:2em; text-align: left; }
#comment-tabs .ui-progressbar .ui-progressbar-value {margin: -1px; height:100%; }

/* General */
html, body{background-color:#ffffff;}
#comment-tabs .ui-widget{font-family: Helvetica, Verdana;}

/* Interaction states
----------------------------------*/
#comment-tabs .ui-state-default,#comment-tabs .ui-widget-content .ui-state-default,#comment-tabs .ui-widget-header .ui-state-default { border:2px solid #dddddd;background:inherit; font-weight: bold; text-decoration:none; }
#comment-tabs .ui-state-default a,#comment-tabs .ui-state-default a:link,#comment-tabs .ui-state-default a:visited { text-decoration: none; }
#comment-tabs .ui-state-hover,#comment-tabs .ui-widget-content .ui-state-hover,#comment-tabs .ui-widget-header .ui-state-hover,#comment-tabs .ui-state-focus,#comment-tabs .ui-widget-content .ui-state-focus,#comment-tabs .ui-widget-header .ui-state-focus { font-weight: bold; color: #ffffff; border-width:2px;}
#comment-tabs .ui-state-hover a,#comment-tabs .ui-state-hover a:hover { color: #ffffff; text-decoration: none; }
#comment-tabs .ui-state-active,#comment-tabs .ui-widget-content .ui-state-active,#comment-tabs .ui-widget-header .ui-state-active { border: 1px solid #dddddd; font-weight: bold; color: #ff0084;}
#comment-tabs .ui-state-active a,#comment-tabs .ui-state-active a:link,#comment-tabs .ui-state-active a:visited { color: #ff0084; text-decoration: none; }
#comment-tabs .ui-widget :active { outline: none; }

/* Accordion */
#comment-tabs .ui-accordion-header{border:2px solid;}
#comment-tabs .ui-accordion .ui-accordion-header{margin-top:2px;}
#comment-tabs .ui-accordion-content{border:2px solid;border-top:none;margin-bottom:3px !important;}
#comment-tabs .ui-accordion .ui-accordion-header a { font-size: 1.0em; padding: .6em .3em .5em 2.9em; font-weight:bold;}
#comment-tabs .ui-accordion > .ui-state-active a,#comment-tabs .ui-accordion > div > h3#comment-tabs .ui-state-active a  { padding-bottom:.8em;}
#comment-tabs .ui-accordion > .ui-state-active,#comment-tabs .ui-accordion > div > h3#comment-tabs .ui-state-active{border-bottom:none !important;}
#comment-tabs .ui-accordion-header > .ui-icon{margin:4px;}

/* Tabs */
#comment-tabs .ui-tabs{padding:0;border:none;position:relative;top:-3px;}
#comment-tabs .ui-tabs-nav{padding:0px 0px 0px 0px !important;border:none;border-bottom:2px solid;background-color:#ffffff;}
#comment-tabs .ui-tabs-nav .ui-state-default{border:none;padding:0px !important;margin-right:2px !important;background:none !important;}
#comment-tabs .ui-tabs-nav .ui-state-default a{border:2px solid;position:relative;top:2px;font-weight:bold;margin-bottom:4px;height:16px;}
#comment-tabs .ui-tabs-nav .ui-state-active a{border:2px solid;border-bottom:none !important;margin-bottom:0;height:22px;}
#comment-tabs .ui-tabs .ui-widget-content{border:2px solid !important;border-top:none !important;}
#comment-tabs .ui-tabs .ui-widget-content .ui-tabs {border:none !important;}
#comment-tabs .ui-tabs-nav .ui-state-hover{border:none;}


/* Dialog */
#comment-tabs .ui-dialog{border-width:2px;padding:0;}
#comment-tabs .ui-dialog-titlebar {border:none;border-bottom-width:2px;padding:.6em 1em .6em 1em !important;font-weight:bold;font-size:1.1em;}
#comment-tabs .ui-dialog-buttonpane{border-top-width:2px !important;margin-top:0 !important;}
#comment-tabs .ui-dialog .ui-dialog-titlebar-close{width:24px;height:24px;margin:-13px 0px 0px 0px;padding:0;}
#comment-tabs .ui-dialog-titlebar-close > .ui-icon{margin:4px !important;}

/* Datepicker*/
#comment-tabs .ui-datepicker {border:2px solid;padding:0 !important;}
#comment-tabs .ui-datepicker .ui-datepicker-header{border:none;padding:.4em 1em .4em 1em;}
#comment-tabs .ui-datepicker .ui-datepicker-header .ui-state-default,#comment-tabs .ui-datepicker .ui-datepicker-header .ui-state-hover{background:none;border:none;padding:0;}
#comment-tabs .ui-datepicker .ui-datepicker-prev,#comment-tabs .ui-datepicker .ui-datepicker-next{width:24px;height:24px;margin:0;}
#comment-tabs .ui-datepicker .ui-datepicker-prev span,#comment-tabs .ui-datepicker .ui-datepicker-next span{position:relative;top:0;left:0;margin:0;}
#comment-tabs .ui-datepicker .ui-datepicker-prev-hover { left:2px;top:2px; }
#comment-tabs .ui-datepicker .ui-datepicker-next-hover { right:2px;top:2px; }
#comment-tabs .ui-datepicker table {margin:0px;border:1px solid;}
#comment-tabs .ui-datepicker-calendar .ui-state-default,#comment-tabs .ui-datepicker-calendar .ui-state-hover,#comment-tabs .ui-datepicker-calendar .ui-state-highlight,#comment-tabs .ui-datepicker-calendar .ui-state-active{border-width:2px;}
#comment-tabs .ui-datepicker .ui-icon{margin:4px !important;}

/* Button */
#comment-tabs .ui-button{border-width:2px !important;border-bottom-style:solid;font-weight:bold !important;}

#comment-tabs .ui-buttonset .ui-button { margin-left: 0; margin-right: -1px; }

/* Additional states */
#comment-tabs .ui-state-highlight{border:2px solid;}
#comment-tabs .ui-state-error{border:2px solid;}

/* Slider */
#comment-tabs .ui-slider{border:none;}
#comment-tabs .ui-slider .ui-slider-handle{width:.8em;height:.8em;border:none;margin:-.4em;}
#comment-tabs .ui-slider-horizontal .ui-slider-handle{margin-top:0; top:0;}
#comment-tabs .ui-slider-vertical .ui-slider-handle{margin-left:0;left:0;}

/* Progressbar */
#comment-tabs .ui-progressbar{border:none;height:0.8em;}
#comment-tabs .ui-progressbar .ui-progressbar-value{border:none;}

/* Autocomplete */
#comment-tabs .ui-autocomplete {border:solid 2px #bbbbbb;padding:0;}
#comment-tabs .ui-autocomplete .ui-menu-item a{padding:5px;border:none;margin:0 !important;}

/* Icon states */
#comment-tabs .ui-icon { width: 16px; height: 16px; }
/* General */
#comment-tabs .ui-widget-overlay{background:#ffffff;}
#comment-tabs .ui-widget-content{color:#525252;}

/* Button states */
#comment-tabs .ui-state-default,#comment-tabs .ui-widget-content .ui-state-default{background-color:#d4d4d4;border-color:#d4d4d4;color:#525252;}
#comment-tabs .ui-state-focus,#comment-tabs .ui-widget-content .ui-state-focus{background-color:#A2A2A2;border-color:#A2A2A2;color:#ffffff;}
#comment-tabs .ui-state-hover,#comment-tabs .ui-widget-content .ui-state-hover{background-color:#A2A2A2;border-color:#A2A2A2;color:#ffffff;}
#comment-tabs .ui-state-active,#comment-tabs .ui-widget-content .ui-state-active{background-color:#A2A2A2;border-color:#A2A2A2;color:#ffffff;}


/* Accordion */
#comment-tabs .ui-accordion-content{border-color:#d4d4d4;background:#ffffff}
#comment-tabs .ui-accordion-header#comment-tabs .ui-state-active,#comment-tabs .ui-accordion-header#comment-tabs .ui-state-active#comment-tabs .ui-state-hover{background-color:#ffffff !important;color:#525252;border-color:#d4d4d4 !important;background-image:url(images/ui-icons_d4d4d4_0.png) !important;background-position: -230px -213px !important;}
#comment-tabs .ui-accordion-header#comment-tabs .ui-state-active a{ color: #525252 !important;}
#comment-tabs .ui-accordion-header#comment-tabs .ui-state-default{border-color:#A2A2A2;background:#A2A2A2;}
#comment-tabs .ui-accordion-header#comment-tabs .ui-state-default a{ color: #ffffff;}
#comment-tabs .ui-accordion-header#comment-tabs .ui-state-hover{background:#A2A2A2;border-color:#A2A2A2;}
#comment-tabs .ui-accordion-header#comment-tabs .ui-state-hover a{color:#ffffff;}

/* Tabs states */
#comment-tabs .ui-tabs-nav > .ui-state-default a{border-color:#A2A2A2;background:#A2A2A2;color:#ffffff;}
#comment-tabs .ui-tabs-nav > .ui-state-active a{border-color:#d4d4d4 !important;background:#ffffff !important;color:#525252 !important;}
#comment-tabs .ui-tabs-nav > .ui-state-hover a{background:#A2A2A2;border-color:#A2A2A2;color:#ffffff;}
#comment-tabs .ui-tabs-nav > .ui-state-focus a{background:#A2A2A2;border-color:;color:#ffffff;}
#comment-tabs .ui-tabs .ui-widget-content{border-color:#d4d4d4 !important;background-color:#ffffff !important;}
#comment-tabs .ui-tabs-nav{border-color:#d4d4d4;}

/* Dialog states */
#comment-tabs .ui-dialog{border-color:#A2A2A2;background-color:#ffffff !important;}
#comment-tabs .ui-dialog-titlebar{border-color:#A2A2A2;color:#ffffff;background-color:#A2A2A2;}
#comment-tabs .ui-dialog-buttonpane{border-color:#A2A2A2 !important;background-color:#ffffff;}
#comment-tabs .ui-dialog-content{background-color:#ffffff !important;}

/* Slider */
#comment-tabs .ui-slider{background:#d4d4d4;}
#comment-tabs .ui-slider .ui-slider-range{background:#A2A2A2;}
#comment-tabs .ui-slider .ui-state-default{background-color:#000000;}
#comment-tabs .ui-slider .ui-state-active{background-color:#525252 !important;}
#comment-tabs .ui-slider .ui-state-focus{background-color:#000000;}
#comment-tabs .ui-slider .ui-state-hover{background-color:#525252;}

/* Progressbar */
#comment-tabs .ui-progressbar{background:#d4d4d4;}
#comment-tabs .ui-progressbar .ui-progressbar-value{background-color:#A2A2A2;}

/* Autocomplete */

#comment-tabs .ui-autocomplete {border-color:#525252;}
#comment-tabs .ui-autocomplete a{background-color:#ffffff;color:#525252;}
#comment-tabs .ui-autocomplete .ui-state-hover{background:#A2A2A2;color:#ffffff;}

/* Datepicker */
#comment-tabs .ui-datepicker {border-color:#A2A2A2;}
#comment-tabs .ui-datepicker .ui-datepicker-header{background-color:#A2A2A2;color:#ffffff;}
#comment-tabs .ui-datepicker table {border-color:#ffffff; }
#comment-tabs .ui-datepicker-calendar{background:#ffffff;}
#comment-tabs .ui-datepicker-calendar .ui-state-default{background-color:#d4d4d4;border-color:#d4d4d4;color:#525252;}
#comment-tabs .ui-datepicker-calendar .ui-state-hover{background-color:#A2A2A2 !important;border-color:#A2A2A2 !important;color:#ffffff !important;}
#comment-tabs .ui-datepicker-calendar .ui-state-highlight{background-color:#d4d4d4;border-color:#A2A2A2;color:#ffffff;}
#comment-tabs .ui-datepicker-calendar .ui-state-active{background-color:#A2A2A2;border-color:#A2A2A2;color:#ffffff;}

/* Highlight */
#comment-tabs .ui-state-highlight{border-color:#efdca9;color:#525252;background:#efdca9;}

/* Error */
#comment-tabs .ui-state-error{border-color:#c31d1d;color:#ffffff;background:#c31d1d;}

#comment-tabs .content-tab {
  background: #fff !important;
}

#gplus-tab , #fb-tab {
  padding: 0;
  margin: 0;
}

#gplus-tab iframe, #fb-tab iframe {
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}

#comment-tabs {
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}
